on post-fs-data
    mkdir /data/vendor/360ra 0775 audioserver audio
    copy /vendor/etc/alc.speaker.bin /data/vendor/360ra/alc.speaker.bin
    chmod 0770 /data/vendor/360ra/alc.speaker.bin
    chown audioserver audio /data/vendor/360ra/alc.speaker.bin
